h1 {
  font-size: 48px;
  font-family: cursive;
  text-align: center;
}
p{
  font-size:24px;
  font-family: cursive;
  text-align: center;
}
body{
  text-align: center;
  background-color: lightblue;
}
