<h1>Custom Dictionary</h1>
<p>Enter words, terms, phrases you've never heard before and enter their meanings!</p>

<a href="/add-word">Add Word to Dictionary</a>

#foreach ($word in $words)
  <p>$word.getWord()</p>
#end
