<h1>$word</h1>

<h4>Definitions</h4>

<ol>
#foreach ($definition in $definitions)
  <li>$definition.getDefinition()</li>
#end
</ol

<form method="post">
  <div class="form-group">
    <label for="definitionInput">Enter a definition</label>
    <input id="definitionInput" name="definitionInput" type="text">
  </div>
  <button type="submit" class"btn" name="button">Add Definition</button>
</form>
